/* Contenitore principale */
.container {
  margin: 100px 20px 0 20px;
  padding: 20px;
  width: calc(100% - 80px);
  background-color: var(--container-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Titolo principale */
.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 40px 0 0 0;
  text-align: center;
  color: var(--text-primary);
  font-size: 1.8em;
  margin-bottom: 20px;
}

/* Sezione della domanda */
#question-area,
#answer-progress,
#current-answer {
  text-align: left;
}

#question-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#answer-progress {
  margin-bottom: 20px;
}

/* Titolo della domanda */
.question-title {
  font-size: 1.2em;
  color: var(--text-secondary);
}

/* Stile delle opzioni */
.options {
  margin: 20px 0 0 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.options li {
  width: 100%;
  margin-bottom: 10px;
}

.option-button {
  width: 100%;
  padding: 15px;
  font-size: 1em;
  color: var(--text-primary);
  background-color: var(--button-bg);
  border: 2px solid var(--button-border);
  border-radius: 6px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.option-button:hover {
  background-color: var(--button-hover-bg);
  border-color: var(--button-hover-border);
}

/* Effetti di hover per risposte corrette e sbagliate */
.option-button.correct:hover {
  background-color: #66bb6a; /* Verde chiaro per hover */
  border-color: #66bb6a;
}

.option-button.incorrect:hover {
  background-color: #ef5350; /* Rosso chiaro per hover */
  border-color: #ef5350;
}

/* Stile per le risposte corrette e sbagliate dopo la selezione */
.correct {
  background-color: #4caf50;
  border-color: #4caf50;
  color: #ffffff;
}

.incorrect {
  background-color: #e53935;
  border-color: #e53935;
  color: #ffffff;
}

/* Pulsante per passare alla prossima parte */
#next-button {
  width: 100%;
  margin: 0;
  padding: 12px;
  font-size: 1em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#next-button:hover {
  background-color: #42a5f5;
}

/* Stile dell'area di risposta composta */
#answer-progress {
  margin: 0;
}

.container h3,
#answer-progress h3 {
  margin: 0;
  font-size: 1.1em;
  color: var(--text-secondary);
}

#answer-progress h3 {
  margin: 0 0 20px 0;
}

#current-answer {
  font-size: 1em;
  line-height: 1.6;
  color: var(--text-primary);
}

.highlighted-answer {
  border: 2px solid var(--highlight-border);
  padding: 10px;
  margin-top: 10px;
  background-color: var(--highlight-background);
  border-radius: 6px;
}

.block {
  width: 100%;
}
